@import "bourbon";

body {
  background: #eee !important;  
}
body{
  background-color: #527E7F;
}
#heading{

  text-align: center;
  color: red;

}
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2; /*Menu color set up */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;/*remove underline below the link */
  font-size: 17px;
}

/* Change the color of links on hover.hover means which menu item is selected */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav a#logout {
  background-color: red;
  color: yellow;
  text-align: right;
  float: right;
}
input[type=number] {
  width: 20%;
  padding: 8px 18px;
  margin: 8px 0;
  /*box-sizing: border-box;*/
}
select {
  width: 20%;
  padding: 8px 18px;
  border: none;
  border-radius: 2px;
  background-color: #f1f1f1;
}
label{

  padding: 8px 18px;

}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 14;
  padding: 12px 26px;
  text-decoration: none;
  margin: 20px 8px;
  cursor: pointer;

}
fieldset {
  background-color: ;
  width: 40%;
  height: 20%;
  color: ;
}
legend {
  padding: 2px;
  color: ;
  background-color: ;
}
.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}
h3 {
  background-color: lightblue;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #Purchase{

     background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 14;
  padding: 12px 26px;
  text-decoration: none;
  margin: 20px 8px;
  cursor: pointer;


  }
  .img-circular{
    float: right;
  width: 120px;
  height: auto;
  background: #fff;
  border-radius: 7px!important;
   }
  
  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
